<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationId</key>
	<string>&lt;-- insert application id --&gt;</string>
	<key>applicationIdSharedSecret</key>
	<string>&lt;-- insert application id secret obtained from the server --&gt;</string>
	<key>applicationName</key>
	<string>&lt;-- insert the branded name of your application here --&gt;</string>
	<key>applicationImageURL</key>
	<string>&lt;-- insert a url that loads a branded logo for your application (use https) --&gt;</string>
	<key>applicationURL</key>
	<string>&lt;-- insert a url of your choosing to find out more about the application --&gt;</string>
	<key>applicationRemoveSettingsAppliedByQRCode</key>
	<false/>
	<key>applicationSplashScreenAllowsQRScannerGesture</key>
	<true/>
	<key>applicationQRScannerShownAtStart</key>
	<true/>
	<key>applicationSettingsDownloadURL</key>
	<string>&lt;-- insert settings download url --&gt;</string>
	<key>applicationSettingsDownloadExpiryTime</key>
	<real>86400</real>
	<key>APNS-UrbanAirShip</key>
	<dict>
		<key>masterAppSecretDev</key>
		<string></string>
		<key>masterAppSecret</key>
		<string></string>
		<key>developmentAppKey</key>
		<string></string>
		<key>developmentAppSecret</key>
		<string></string>
		<key>productionAppKey</key>
		<string></string>
		<key>productionAppSecret</key>
		<string></string>
		<key>apiPushURL</key>
		<string></string>
	</dict>
	<key>applicationTimeBetweenTwoPushes</key>
	<integer>0</integer>
	<key>applicationSettingsVersion</key>
	<string>1.0</string>
</dict>
</plist>
